In [39]:
x = 10
y = "hi my name is armit"

print(x)
print(y)
 # THIS IS A COMMENT

10
hi my name is armit

In [67]:
c= 5   
print(c)
c= "ffff" 
print(c)
print(c)

5
ffff
ffff

In [63]:
x= str(4)  # x will be '6'
s= float(4) #s will be 6.0
d= int (4) #d will be 6
print(x)
print(s)
print(d)

4
4.0
4

In [70]:
x= 5
y= "jhon"
z= 5.0
print(type(y))
print(type(x))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [10]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [6]:
b=2
B="jhon"
# B will not overwrite b
print(b)
print(B)

2
jhon

In [11]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [21]:
x = y = z = "Orange , bnanans"

print(x)
print(y)
print(z)

Orange , bnanans
Orange , bnanans
Orange , bnanans

In [1]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

print(x)
print(y)
print(z)
print(fruits)

apple
banana
cherry
['apple', 'banana', 'cherry']

In [1]:
a="saat9"
def myfunc():
      print(" miyad" + a)
myfunc()

 miyadsaat9

In [42]:
a="saat9"
def myfunc():
    a="alii"
    print("miyad ba" + a)
myfunc()

print(" miyad " + a)

miyad baalii
 miyad saat9

In [1]:
 if 4 < 6:
    print(" four is smaller than six")
x="hello"
def myfunc():
    x="hiii"
    print(x +" "  ,"brooo" )
myfunc()
 print (x +" " "baby")
x= str (5) #x will be '5'
a= int(5) #a will be 5
z= float(5) #z will be 5.0
print(x)
print(a)
print(z)

 four is smaller than six
hiii  brooo
hello baby
5
5
5.0

In [15]:
def myfunc(): 
  global x
  x ="good"

myfunc()
print("python is" + x)

python isgood

In [17]:
x = "awesome"

def myfunc():
  global x
  x = "easy"

myfunc()

print("Python is ","" + x)

Python is  easy

In [37]:
thisdict={"model":"artmis","brand":"secrt","age":"25"}
print(len(thisdict))
print(thisdict["brand"])
print (type(thisdict))

3
secrt
<class 'dict'>

In [41]:
thisdict = dict(name = "John", age = 36, country = "Norway")

print(len(thisdict))
print(thisdict["country"])
print(type(thisdict))

3
Norway
<class 'dict'>

In [43]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'cherry']

In [44]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry')

In [4]:
a="hello"
print(a[2])
for x in "apple":
   print(x)

l
a
p
p
l
e

In [26]:
a="hello my name is ali"
if "ali" not in a:
 print("no,ali is not peresent")
if "ali" in a:
    print("yes, alii is in present")

yes, alii is in present

In [53]:
a="hello"
print(a[3:])
a="hello"    
print(a[1:3])
b = "Hello, World!"
print(b[:5])
c= "hello, world"
print(c[-5:-2])

lo
el
Hello
wor

In [63]:
a="hello"
print(a.upper())
a = "Hello, World!"
print(a.lower())
a = " Hello, World "
print(a.strip())
a="hello"
print(a.replace("hello" , "killl"))

HELLO
hello, world!
Hello, World

In [8]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)
price= 50
txt= f"i have {price} dollers"
print(txt)
price= 50
txt= f"i have {price:.2f} dollers"
print(txt)
txt = f"The price is {20 * 59} dollars"
print(txt)

My name is John, I am 36
i have 50 dollers
i have 50.00 dollers
The price is 1180 dollars

In [26]:
child=2
whith=5
txt= f" this child is fat his  {whith}  whith and {child} years"
print(txt)

 this child is fat his  5  whith and 2 years

In [2]:
 x="amrtmis"
 def myfunc():
     a=x + " " + "omad"
     print(a)
myfunc()
 if "ali" in x :
   print(" yes, 'ali is' present")
 else:
   print(" no, 'ali is not' preseant")
   print(x[2:])

amrtmis omad
 no, 'ali is not' preseant
rtmis

In [51]:
a= ["slm" ,"man" ,"armita" ,"hastm"]
print( "armita" not in a)
print(" anita" not in a)
print(a[0:3])

False
True
['slm', 'man', 'armita']

In [1]:
a = 33
b = 200

if b > a:
  print("b is greater than a")
#you will get an error

b is greater than a

In [2]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = "blackcurrant","watermwlon"

print(thislist)

thislist = ["apple", "banana", "cherry"]

thislist.insert(2, "watermelon")

print(thislist) 

thislist = ["apple", "banana", "cherry"]

thislist.append("orange")

print(thislist)
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'blackcurrant', 'watermwlon']
['apple', 'banana', 'watermelon', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'cherry']

In [12]:
fruits=["appleb","banana","portagal"]
newlist=[]
for x in fruits:
    if x != "appleb":
       newlist.append(x)
print(newlist)

fruits=["appleb","banana","portagal"]
newlist=[]
for x in fruits:
     if "b" in x:
         newlist.append(x)
print(newlist)

fruits=["apple","narangi","portgal"]
newlist=[x for x in fruits if x != "apple"]
nelists=[x for x in fruits if "r" in x]
newliste=[x for x in fruits]
newlista=[x for x in range(10) if x < 9]
newlists=[x for x in range(10)]
newlistb=[x.upper() for x in fruits]
newlistaa=[x.lower() for x in fruits]
newlistss=['cherry' for x in fruits]
print(newlist)
print(nelists)
print(newliste)
print(newlista)
print(newlists)
print(newlistb)
print(newlistaa)
print(newlistss)

['banana', 'portagal']
['appleb', 'banana']
['narangi', 'portgal']
['narangi', 'portgal']
['apple', 'narangi', 'portgal']
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['APPLE', 'NARANGI', 'PORTGAL']
['apple', 'narangi', 'portgal']
['cherry', 'cherry', 'cherry']

In [1]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

print(thislist)
thislist = ["3", "4", "1", "2", "5"]

thislist.sort()

print(thislist)
thislist = ["4", "2", "1", "2", "1"]

thislist.sort(reverse=False)

print(thislist)
thislist = [100, 50, 65, 82, 23]

thislist.sort(reverse = True)

print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['1', '2', '3', '4', '5']
['1', '1', '2', '2', '4']
[100, 82, 65, 50, 23]

In [3]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [17]:


x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)
r=("apple","orange","banana")
x = list(r)
x[2] = "mango"
r = tuple(x)

print(r)
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'kiwi', 'cherry')
('apple', 'orange', 'mango')
('apple', 'banana', 'cherry', 'orange')

In [15]:
thistuple = ("apple" , "banana" , "cherry" , "strawberry" , "raspberry")
y= list(thistuple)
y[1] = "kiwi"
thistuple = tuple(y)
c = list(thistuple)
c.append("orange")
thistuple= tuple(c)
(green , yellow , *red) = thistuple
print(thistuple[2:5])
print(green)
print(yellow)
print(red)

('cherry', 'strawberry', 'raspberry')
apple
kiwi
['cherry', 'strawberry', 'raspberry', 'orange']

In [14]:
thisset={"apple","banana","cherry"}
thisx={"orange","green apple"}
thisset.add("gilas")
thisset.update(thisx)
thisset.remove("apple")
thisset.discard("green apple")
thisset.clear()
print(thisset)

set()

In [16]:
thisset={"banana","apple","orang"}
thisset2={"banana","apple","cherry"}
thisset3=thisset.union(thisset2)
thisset4=thisset.intersection(thisset2)
thisset5=thisset.difference(thisset2)
thisset6=thisset.symmetric_difference(thisset2)
print(thisset3)
print(thisset4)
print(thisset5)
print(thisset6)

{'orang', 'cherry', 'apple', 'banana'}
{'apple', 'banana'}
{'orang'}
{'orang', 'cherry'}

In [36]:
eat = 1
drink = 2
match eat:
   case 1  | 2 | 3 if drink == 2:
     print("i eat pitza")
   case  4 | 5| 6 if drink == 1:
     print("i drink wather")
   case _:
        print("no")

i eat pitza